<html lang="en">
<!-- ////////// PARTIALS ////////// -->
<%- include('./3partials/head.ejs')    %>
<body>
    <%- include('./3partials/nav.ejs')    %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate id iste temporibus, praesentium sapiente, expedita nulla quidem minus corporis totam ad labore itaque facere tempora incidunt error, magnam culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate id iste temporibus, praesentium sapiente, expedita nulla quidem minus corporis totam ad labore itaque facere tempora incidunt error, magnam culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate id iste temporibus, praesentium sapiente, expedita nulla quidem minus corporis totam ad labore itaque facere tempora incidunt error, magnam culpa!</p>
    </div>
    
    <%- include('./3partials/foot.ejs')    %>

</body>
</html>