<html lang="en">
<!-- ////////// PARTIALS ////////// -->
<%- include('./3partials/head.ejs')    %>
<body>
    <%- include('./3partials/nav.ejs')    %>

    <div class="not-found content">
        OOPS, Page not found.
        </div>
    
 <%- include('./3partials/foot.ejs')    %>

</body>
</html>